#filteredToDoList {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#footer {
    white-space: nowrap;
    border: 2px solid black;
}

.footerItem {
    display: inline-block;
}

.selected {
    border: 2px solid black;
}

.toDoItem {
    white-space: nowrap;
    border: 2px solid black;
}

.toDoSubItem {
    display: inline-block;
<<<<<<< HEAD:week6/Challenge One/ToDos.css
}
=======
}

h1 {
    
}
>>>>>>> 0edda892e6bd9ff5560de4c2f0bf13f02b6509d9:week6/Challenge One/toDos.css
